/* Media Queries goes here  */

@media (max-width: 896px) {
  .nav-logo {
    display: none;
  }
  .nav-item {
    display: none;
  }

  .subcontainer {
    grid-template-columns: 50px 1fr 50px !important;
  }

  .hamburger {
    display: block !important;
    grid-column: 3;
  }
}
