/* Media Queries goes here  */

@media (min-width: 897px) {
  /* HEADER AND NAV */

  .nav-menu {
    display: flex;
  }

  .mainPageText {
    margin: 0 120px;
  }
}

@media (max-width: 896px) {
  .nav-logo {
    display: none;
  }

  .subcontainer {
    grid-template-columns: 50px 1fr 50px;
  }

  .hamburger {
    display: block;
    grid-column: 3;
  }

  .nav-menu {
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 20px 0;
    background-color: var(--bg-header-colour);
  }

  .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .top {
    margin-top: 70px;
  }

  .header-logo {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 1236px) {
  .displayNone,
  .displayNoneSmallest {
    display: none;
  }

  .arrows {
    display: none;
  }

  .blogCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .carouselSection {
    margin: 0px;
  }
}

@media screen and (max-width: 928px) {
  .carouselSection,
  .aboutText,
  .contactText,
  .specificBlogSection {
    margin: 0px;
  }
  .header-logo {
    max-width: 150px;
    transform: translateY(25%);
  }

  .hamburger {
    margin-left: 15px;
  }
  .blogCardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .blogContent img {
    max-width: 300px;
  }
  .mainPageTextContent {
    margin: 10px 20px;
  }
}

@media screen and (max-width: 658px) {
  .arrowGone {
    display: none;
  }

  .blogCardContainer {
    margin: 20px 0;
  }

  .blogContent img {
    max-width: 200px;
  }
}
